<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg-dark page-title-mini">
  <div class="container">
    <!-- STRART CONTAINER -->
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-title text-center">
          <h1 class="text-center">Order Completed</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">
  <!-- STAT SECTION ABOUT -->
  <div class="section">
    <div class="container">
      <div class="order-completed">
        <div class="order-completedinner">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-12">
              <img src="assets/images/product/1.png" alt="" title="" class="img-responsive" />

            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-12">


              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="2">Order Completed</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Product Name</td>
                      <td>ABLR</td>

                    </tr>
                    <tr>
                      <td>Date</td>
                      <td>27/06/2020</td>

                    </tr>
                    <tr>
                      <td>Quantity</td>
                      <td>10</td>

                    </tr>
                    <tr>
                      <td>Address</td>
                      <td>xxxxxxx, xxxxxx, xxxxx</td>

                    </tr>

                    <tr>
                      <td>Paid Amount</td>
                      <td>$899.90</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


          </div>

        </div>

      </div>


    </div>
  </div>
  <!-- END SECTION ABOUT -->
</div>
<!-- END MAIN CONTENT -->