<!-- START SECTION SHOP -->
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                <div class="product-image vertical_gallery">
                    <div id="pr_item_gallery" class="product_gallery_item slick_slider" data-vertical="true"
                        data-vertical-swiping="true" data-slides-to-show="5" data-slides-to-scroll="1"
                        data-infinite="false">
                        <div class="item" *ngFor="let image of currentProduct.products">
                            <a (click)="currentImage=image" class="product_gallery_item" [ngClass]="{'active':currentImage==image}" *ngIf="image&&currentImage">
                                <img [src]="getImage(image)" alt="product_small_img1" />
                            </a>
                        </div>
                        <!-- <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/2.png"
                                data-zoom-image="assets/images/product/2.png">
                                <img src="assets/images/product/2.png" alt="product_small_img2" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/1.png"
                                data-zoom-image="assets/images/product/1.png">
                                <img src="assets/images/product/1.png" alt="product_small_img3" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/2.png"
                                data-zoom-image="assets/images/product/2.png">
                                <img src="assets/images/product/2.png" alt="product_small_img2" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/1.png"
                                data-zoom-image="assets/images/product/1.png">
                                <img src="assets/images/product/1.png" alt="product_small_img3" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/2.png"
                                data-zoom-image="assets/images/product/2.png">
                                <img src="assets/images/product/2.png" alt="product_small_img2" />
                            </a>
                        </div>
                        <div class="item">
                            <a href="#" class="product_gallery_item" data-image="assets/images/product/1.png"
                                data-zoom-image="assets/images/product/1.png">
                                <img src="assets/images/product/1.png" alt="product_small_img3" />
                            </a>
                        </div> -->
                    </div>
                    <div class="product_img_box">
                        <img id="product_img" [src]='getImage(currentImage)' alt="product_img1" />
                        <a class="product_img_zoom" title="Zoom">
                            <span class="linearicons-zoom-in"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="pr_detail">
                    <div class="product_description">
                        <h4 class="product_title"><a>{{currentProduct.name}}</a></h4>
                        <h6>Minimum Order: 20 Units</h6>
                        <div class="product_price text-center">
                            <span class="price">FROM ${{currentProduct.price}}</span>
                            <p>(Free Delivery within Australia)</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="product_sort_info" *ngIf="router.url!='/product-detail'">
                            <ul>
                                <li>W.H.O Recommended Formula</li>
                                <li> Hospital Grade</li>
                                <li>80% Alcohol </li>
                                <li>Fragrance Free </li>
                                <li>Natural </li>
                            </ul>
                            <div class="form-group">

                                <select class="form-control" id="sel1" [(ngModel)]="quantity">
                                    <option value="">QTY</option>
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                    <option value="80">80</option>
                                    <option value="120">120</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="product_sort_info" *ngIf="router.url=='/product-detail'">
                            <div class="table-responsive">
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th><strong>QTY</strong></th>
                                            <th><strong>Prise</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>120</td>
                                            <td>$89.99 ea</td>
                                        </tr>
                                        <tr>
                                            <td>80</td>
                                            <td>$94.99 ea</td>
                                        </tr>
                                        <tr>
                                            <td>40</td>
                                            <td>$99.99 ea</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>109.99 ea</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <div class="quantity1">
                                                    <div class="form-group">

                                                        <select class="form-control" id="sel1" [(ngModel)]="quantity">
                                                            <option value="">QTY</option>
                                                            <option value="20">20</option>
                                                            <option value="40">40</option>
                                                            <option value="80">80</option>
                                                            <option value="120">120</option>
                                                        </select>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="cart_extra">
                        <div class="cart_btn text-center">
                            <!-- <center> -->
                            <a class="btn2" type="button" (click)="buynow()"> Add to cart</a>
                            <!-- </center> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->