<div class="clearfix"></div>
<div class="top-slider cover-background">
    <div class="topslider">
        <div class="container">
            <!-- STRART CONTAINER -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="slider-img">
                        <img src="assets/images/slider/slider.png" alt="" title=""
                            class="staggered-animation img-responsive" data-animation="slideInLeft"
                            data-animation-delay="0.1s" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <div class="slider-text overflow-hidden">
                        <!-- <center> -->
                            <img src="assets/images/slider-logo.png" alt="" title=""
                                class="staggered-animation img-responsive" data-animation="slideInRight"
                                data-animation-delay="0.1s" />
                        <!-- </center> -->
                        <h2 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight"
                            data-animation-delay="0.1s">Keep Kids SAFE with CLEAN Hands and a CLEAR Conscience</h2>
                        <h5 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">Hospital
                            Grade Hand Sanitiser</h5>
                        <a class="btn  btn-fill-out rounded-0 staggered-animation text-uppercase" routerLink="/product-detail"
                            data-animation="slideInRight" data-animation-delay="1.5s">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap" style="display:none;">
    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active background_bg" data-img-src="assets/images/slider/1.png">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <img src="assets/images/slider/slider.png" alt="" title=""
                                    class="staggered-animation img-responsive" data-animation="slideInLeft"
                                    data-animation-delay="0.1s" />
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="banner_content overflow-hidden">
                                    <!-- <center> -->
                                        <img src="assets/images/slider-logo.png" alt="" title=""
                                            class="staggered-animation img-responsive" data-animation="slideInRight"
                                            data-animation-delay="0.1s" />
                                    <!-- </center> -->
                                    <h2 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight"
                                        data-animation-delay="0.1s">Keep Kids SAFE with CLEAN Hands and a CLEAR
                                        Conscience</h2>
                                    <h5 class="staggered-animation" data-animation="slideInRight"
                                        data-animation-delay="1s">Hospital Grade Hand <br /> Sanitiser</h5>
                                    <a class="btn btn1 btn-fill-out rounded-0 staggered-animation text-uppercase"
                                    routerLink="/product-detail" data-animation="slideInRight"
                                        data-animation-delay="1.5s">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="assets/images/slider/1.png">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <img src="assets/images/slider/slider.png" alt="" title=""
                                    class="staggered-animation img-responsive" data-animation="slideInLeft"
                                    data-animation-delay="0.1s" />
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="banner_content overflow-hidden">
                                    <!-- <center> -->
                                        <img src="assets/images/slider-logo.png" alt="" title=""
                                            class="staggered-animation img-responsive" data-animation="slideInRight"
                                            data-animation-delay="0.1s" />
                                    <!-- </center> -->
                                    <h2 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight"
                                        data-animation-delay="0.1s">Keep Kids SAFE with CLEAN Hands and a CLEAR
                                        Conscience</h2>
                                    <h5 class="staggered-animation" data-animation="slideInRight"
                                        data-animation-delay="1s">Hospital Grade Hand <br /> Sanitiser</h5>
                                    <a class="btn btn1 btn-fill-out rounded-0 staggered-animation text-uppercase"
                                    routerLink="/product-detail" data-animation="slideInRight"
                                        data-animation-delay="1.5s">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTAINER-->
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="assets/images/slider/1.png">
                <div class="banner_slide_content">
                    <div class="container">
                        <!-- STRART CONTAINER -->
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <img src="assets/images/slider/slider.png" alt="" title=""
                                    class="staggered-animation img-responsive" data-animation="slideInLeft"
                                    data-animation-delay="0.1s" />
                            </div>
                            <div class="col-lg-6 col-6">
                                <div class="banner_content overflow-hidden">
                                    <!-- <center> -->
                                        <img src="assets/images/slider-logo.png" alt="" title=""
                                            class="staggered-animation img-responsive" data-animation="slideInRight"
                                            data-animation-delay="0.1s" />
                                    <!-- </center> -->
                                    <h2 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight"
                                        data-animation-delay="0.1s">Keep Kids SAFE with CLEAN Hands and a CLEAR
                                        Conscience</h2>
                                    <h5 class="staggered-animation" data-animation="slideInRight"
                                        data-animation-delay="1s">Hospital Grade Hand <br /> Sanitiser</h5>
                                    <a class="btn btn1 btn-fill-out rounded-0 staggered-animation text-uppercase"
                                    routerLink="/product-detail" data-animation="slideInRight"
                                        data-animation-delay="1.5s">Find Out More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTAINER-->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><i
                class="ion-chevron-left"></i></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><i
                class="ion-chevron-right"></i></a>
    </div>
</div>
<!-- END SECTION BANNER -->
<!-- END MAIN CONTENT -->
<div class="main_content">
    <!-- START SECTION BANNER -->
    <div class="section home-welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 ">
                    <p>ABLR is a purpose-driven social enterprise with a mission to give back to the most vulnerable
                        communities in Australia. We give 50% of our profits from our products to the <a
                            href="https://www.salvationarmy.org.au/red-shield-appeal/" target="_blank">Salvo’s Red
                            Shield Appeal.</a></p>
                    <p>Today, many women and children have to choose between homelessness or living with abuse. We
                        believe no one should have to live like that. Let’s work together for a healthy living.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BANNER -->
    <app-product-display></app-product-display>
    <!-- START SECTION CLIENT LOGO -->
    <div class="p-50 brands bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="brand-logo">
                        <img src="assets/images/brands/1.png" alt="cl_logo" /><span>W.H.O RECOMMENDED FORMULA</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="brand-logo">

                        <img src="assets/images/brands/2.png" alt="cl_logo" /> <span>HOSPITAL GRADE</span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="brand-logo">
                        <img src="assets/images/brands/5.png" alt="cl_logo" /> <span>KILLS 99.9% OF GERMS </span>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="brand-logo">
                        <img src="assets/images/brands/4.png" alt="cl_logo" /> <span>AUSTRALIAN OWNED</span>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-6">
                    <div class="brand-logo">
                        <img src="assets/images/brands/3.png" alt="cl_logo" /> <span>ETHICALLY SOURCED</span>

                    </div>
                </div>

            </div>

            <div class="row" style="display:none;">
                <div class="col-12">
                    <div class="client_logo carousel_slider owl-carousel owl-theme nav_style3" data-dots="false"
                        data-nav="false" data-margin="30" data-loop="true" data-autoplay="true"
                        data-responsive='{"0":{"items": "2"}, "480":{"items": "3"}, "767":{"items": "4"}, "991":{"items": "5"}}'>
                        <div class="item">
                            <div class="cl_logo">
                                <img src="assets/images/brands/1.png" alt="cl_logo" /><span>W.H.O RECOMMENDED
                                    FORMULA</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cl_logo">
                                <img src="assets/images/brands/2.png" alt="cl_logo" /> <span>HOSPITAL GRADE</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cl_logo">
                                <img src="assets/images/brands/3.png" alt="cl_logo" /> <span>KILLS 99.9% OF GERMS
                                </span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cl_logo">
                                <img src="assets/images/brands/4.png" alt="cl_logo" /> <span>AUSTRALIAN OWNED</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cl_logo">
                                <img src="assets/images/brands/5.png" alt="cl_logo" /> <span>ETHICALLY SOURCED</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION CLIENT LOGO -->
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    <div class="footer-banner">
        <img src="assets/images/Children.jpg" alt="" title="" class="img-responsive" />
    </div>
    <!-- START SECTION SUBSCRIBE NEWSLETTER -->
</div>
<!-- END MAIN CONTENT -->