<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg-dark page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-title text-center">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">
    <!-- STAT SECTION ABOUT -->
    <div class="section about-us">
        <div class="container">
            <h4 class="">Your purpose Driven Social Enterprise</h4>
            <p>ABLR is a purpose-driven social enterprise. We exist to offer you high grade products at a good price and
                service tailored to your needs. You can invest in our products with a clear conscience, knowing you
                support some of the most vulnerable communities in Australia. Together we can change the world.</p>
                <div class="text-center">
                    <img src="assets/images/line.PNG" alt="" title="" class="img-responsive" />
                </div>                
            <h4 class="">ABLR is Committed to our values</h4>
            <h6>Integrety</h6>
            <p>Uncompromising Integrity is one of the core values of ABLR. This means that when we say we will do
                something, we do it. We believe it's an important value in creating trust and commitment, in all that we
                do.</p>
            <h6>People</h6>
            <p>ABLR is focused on addressing social problems and helping people in need. Our mission is to invest in the
                wellbeing of our most vulnerable communities, and we do so by donating 50% of our profits to The Red
                Shield Appeal.
            </p>
            <h6>Excellence</h6>
            <p>ABLR’s belief in excellence reflects our unyielding passion and unfaltering commitment to achieve goals,
                both for ourselves and the people around us.</p>
        </div>
    </div>
</div>