/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
a{
    cursor: pointer;
}
.bg-selected{
    background: #b39a5a;
    color: #000 !important;
}
.shipment-btn:hover{
    background: #b29860 !important;
    color: #000 !important;
}