<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg-dark page-title-mini" *ngIf="!ShowOrderCompleted">
   <div class="container">
      <!-- STRART CONTAINER -->
      <div class="row align-items-center">
         <div class="col-md-12">
            <div class="page-title text-center">
               <h1>Checkout</h1>
            </div>
         </div>
      </div>
   </div>
   <!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content" *ngIf="!ShowOrderCompleted">
   <!-- STAT SECTION ABOUT --> 
   <div class="section">
      <div class="container">
         <div id="accordion" class="accordion accordion_style1">
            <div class="card">
               <div class="card-header" id="headingOne">
                  <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Address</a> </h6>
               </div>
               <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                     <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-2" *ngFor="let address of addressLists">
                           <h4>{{address.name}} <a href="#0" (click)="editAddress(address)" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i></a></h4>
                           <address>
                              {{address.address1}},<br/>
                              {{address.address2}}, <br/>
                              {{address.city}},<br/>
                              {{address.zipcode}}
                           </address>
                           <div class="address-box-action clearfix">
                              <a (click)="shipping(address.id)" class="btn btn-sm btn-outline-secondary cursor-pointer shipment-btn" [ngClass]="{'bg-selected':address.id==shipmentId}" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Ship Here
                              </a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-2">
                           <h4>Add New Address <a href="#0" data-toggle="modal" data-target="#myModal" (click)="addAddress()"><i class="fa fa-plus-circle"></i></a></h4>
                        </div>
                     </div>
                     <!-- <div class="text-right">
                        <a href="" class="btn-order">Continue</a>
                     </div> -->
                  </div>
               </div>
            </div>
            <div class="card">
               <div class="card-header" id="headingTwo">
                  <h6 class="mb-0"> <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Product Information</a> </h6>
               </div>
               <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                     <div class="row" *ngIf="currentProduct&&currentProduct.product">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 checkout-product">
                           <img src="assets/images/product/1.png" alt="" title="" class="img-responsive"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <h4>{{currentProduct.product.name}}</h4>
                           <div class="cart-product-quantity">
                              <div class="quantity">
                                 <select class="form-control" id="sel1" [(ngModel)]="currentProduct.quantity"  (change)="updateQuantity()">
                                    <option value="">QTY</option>
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                    <option value="80">80</option>
                                    <option value="120">120</option>
                                </select>
                                 <!-- <input type="text" [(ngModel)]="currentProduct.quantity" value="1" title="Qty" class="qty" size="4" (change)="updateQuantity()"> -->
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                           <ul class="widget_categories">
                              <li><a><span class="categories_name">Total</span><span class="categories_num"> - {{currentProduct.product.price}}</span></a></li>
                              <li><a><span class="categories_name">Shipping</span><span class="categories_num">- Free</span></a></li>
                              <li><a><span class="categories_name">GST</span><span class="categories_num">- 10%</span></a></li>
                              <li><a><span class="categories_name">Total</span>-<span class="categories_num" [innerHtml]="total()"></span></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="text-right">
                        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                        <!-- <a (click)="paynow()" class="order-btn">Pay Now</a> -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- END SECTION ABOUT --> 
</div>


<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg-dark page-title-mini" *ngIf="ShowOrderCompleted">
   <div class="container">
     <!-- STRART CONTAINER -->
     <div class="row align-items-center">
       <div class="col-md-12">
         <div class="page-title text-center">
           <h1 class="text-center">Order Completed</h1>
         </div>
       </div>
     </div>
   </div>
   <!-- END CONTAINER-->
 </div>
 <!-- END SECTION BREADCRUMB -->
 <!-- START MAIN CONTENT -->
 <div class="main_content" *ngIf="ShowOrderCompleted">
   <!-- STAT SECTION ABOUT -->
   <div class="section">
     <div class="container">
       <div class="order-completed">
         <div class="order-completedinner">
           <div class="row">
             <div class="col-lg-5 col-md-5 col-sm-5 col-12">
               <img src="assets/images/product/1.png" alt="" title="" class="img-responsive" />
 
             </div>
             <div class="col-lg-7 col-md-7 col-sm-7 col-12">
 
 
               <div class="table-responsive">
                 <table class="table table-bordered">
                   <thead>
                     <tr>
                       <th colspan="2">Order Completed</th>
 
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>Product Name</td>
                       <td>{{currentProduct.product.name}}</td>
 
                     </tr>
                     <tr>
                       <td>Date</td>
                       <td>{{orderedDate|date:'medium'}}</td>
 
                     </tr>
                     <tr>
                       <td>Quantity</td>
                       <td>{{currentProduct.quantity}}</td>
 
                     </tr>
                     <tr>
                       <td>Address</td>
                       <td>{{paidAddress.address1}},<br/>
                        {{paidAddress.address2}}, <br/>
                        {{paidAddress.city}},<br/>
                        {{paidAddress.zipcode}}</td>
 
                     </tr>
 
                     <tr>
                       <td>Paid Amount</td>
                       <td [innerHtml]="total()"></td>
 
                     </tr>
                   </tbody>
                 </table>
               </div>
             </div>
 
 
           </div>
 
         </div>
 
       </div>
 
 
     </div>
   </div>
   <!-- END SECTION ABOUT -->
 </div>
 <!-- END MAIN CONTENT -->
<!-- END FOOTER -->
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title" *ngIf="!selectedAddressId">Add New Address</h4>
            <h4 class="modal-title" *ngIf="selectedAddressId">Edit Address</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <div class="modal-body">
            <form [formGroup]="addressForm">
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name......" formControlName="name">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone number......" formControlName="mobile">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Street, Area......." formControlName="address1">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Location, District......." formControlName="address2">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="City......." formControlName="city">
               </div>
               <div class="form-group">
                  <input type="text" class="form-control" placeholder="Pincode......" formControlName="zipcode">
               </div>
               <button type="submit" class="btn2" (click)="save()" data-dismiss="modal">Submit</button>
            </form>
         </div>
         <!-- <div class="modal-footer"> -->
         <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
         <!-- </div> -->
      </div>
   </div>
</div>