<!-- START SECTION BREADCRUMB -->
<div class="banner-top">
    <img src="assets/images/impact.jpg" alt="" title="" class="img-responsive" />
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">
    <!-- STAT SECTION ABOUT -->
    <div class="section bg-dark impact-top text-center">
        <div class="container">
            <h3>Family & Domestic Violence</h3>
            <p>Too many women and children in Australia are experiencing physical, mental, sexual and emotional abuse,
                and live with a constant fear, isolation and loss of control over their lives. We believe no one should
                live in fear of violence and that everyone deserves to feel safe and free from harm. By choosing ABLR,
                you help to support women and children who are, or have been experiencing domestic violence.</p>
        </div>
    </div>
    <!-- END SECTION ABOUT -->
    <div class="section impact-bottom text-center">
        <div class="container">
            <a href="https://www.salvationarmy.org.au/" target="_blank"> <img
                    src="assets/images/the-salvation-army-logo.png" alt="" title="" class="img-responsive" /> </a>
            <h2>Create Positive Impact with ABLR</h2>
            <p>We donate 50% of our profit to The Salvation Army, in support of this cause. The profit goes to
                counselling, programs, accommodation, advice and parenting services to women and children in need. All
                you have to do is to order ABLR products and we will take care of the rest.</p>
            <a routerLink="/product-detail" class="btn-order">Order Now</a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->